.custom-navbar-brand {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.table-sticky-notes {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.sticky-note {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
